[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/optional/YouCompleteMe"]
	path = bundle/optional/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
